* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-around;

    margin: 50px;
}

.list__item {
    font-size: 20px;
    cursor: pointer;
}

.list__item:hover {
    text-decoration: underline;
}

.list__item_active {
    font-weight: bold;
}

.content__item {
    text-align: center;
    border: 1px solid #ffffff;
    background-color: #080808;
    padding: 20px;
    max-width: 100%;
}

.content__img {
    width: 50%;
    height: 300px;
}

.content__text {
    max-width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to { opacity: 1;
    }
}